<div class="container pt-5 d-flex justify-content-center">
  <div class="card shadow-lg rounded" style="width: 25rem;">
    <%= image_tag "1-wtp-logo.jpg", height: 300 %>
    <div class="card-body container-fluid">
      <div class="container d-flex justify-content-center">
        <h5 class="card-title">Log in</h5>
      </div>

      <div class="input-group p-2 flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      </div>

      <div class="input-group p-2 flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">#</span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
      </div>
    </div>
  </div>
</div>







